In [29]:
import pandas as pd

In [30]:
df = pd.read_csv("weed.csv")

In [31]:
df['Month'] = pd.to_datetime(df['Month'], format='%m').dt.strftime('%B')

In [32]:
df

,Month,Year,Total Medical Marijuana Sales ¹,Total Retail \nMarijuana Sales ²,Total \nMarijuana Sales
0,November,2024,"$11,878,351","$97,379,486","$109,257,837"
1,October,2024,"$12,416,284","$100,887,426","$113,303,710"
2,September,2024,"$11,913,574","$100,516,124","$112,429,698"
3,August,2024,"$13,556,775","$108,924,413","$122,481,188"
4,July,2024,"$13,640,705","$108,909,609","$122,550,314"
...,...,...,...,...,...
126,May,2014,"$31,355,208","$21,375,001","$52,730,209"
127,April,2014,"$32,686,869","$20,765,986","$53,452,855"
128,March,2014,"$34,821,878","$19,881,631","$54,703,509"
129,February,2014,"$31,738,572","$14,248,473","$45,987,045"
130,January,2014,"$32,541,720","$14,022,213","$46,563,933"

In [37]:
df = df.rename(columns={'Total \nMarijuana Sales': 'Total Marijuana Sales',
                       'Total Retail \nMarijuana Sales ²': 'Total Retail Marijuana Sales',
                       'Total Medical Marijuana Sales ¹': 'Total Medical Marijuana Sales'})

In [ ]:
df = df.drop(['Total Retail Marijuana Sales', 'Total Medical Marijuana Sales'], axis=1)

In [42]:
df['Total Marijuana Sales'] = df['Total Marijuana Sales'].replace('[\$,]', '', regex=True).astype(float)

In [43]:
monthly_totals = df.groupby('Month')['Total Marijuana Sales'].sum().reset_index()

In [44]:
monthly_totals = monthly_totals.sort_values('Total Marijuana Sales', ascending=False)

In [45]:
monthly_totals['Total Marijuana Sales'] = monthly_totals['Total Marijuana Sales'].apply(lambda x: '${:,.2f}'.format(x))

In [46]:
print(monthly_totals)

        Month Total Marijuana Sales
5        July     $1,562,630,918.00
1      August     $1,560,891,237.00
11  September     $1,484,212,820.00
7       March     $1,438,585,345.00
10    October     $1,432,353,742.00
6        June     $1,429,070,966.00
8         May     $1,395,127,943.00
0       April     $1,376,338,096.00
9    November     $1,316,013,312.00
2    December     $1,287,394,338.00
4     January     $1,275,935,878.00
3    February     $1,230,803,017.00

In [47]:
df.head()

       Month  Year  Total Marijuana Sales
0   November  2024            109257837.0
1    October  2024            113303710.0
2  September  2024            112429698.0
3     August  2024            122481188.0
4       July  2024            122550314.0

In [48]:
df = df.drop('Year', axis=1)

In [50]:
df.head()

       Month  Total Marijuana Sales
0   November            109257837.0
1    October            113303710.0
2  September            112429698.0
3     August            122481188.0
4       July            122550314.0

In [51]:
df['Total Marijuana Sales'] = df['Total Marijuana Sales'].replace('[\$,]', '', regex=True).astype(float)

In [52]:
monthly_totals = df.groupby('Month')['Total Marijuana Sales'].sum().reset_index()

In [53]:
monthly_totals = monthly_totals.sort_values('Total Marijuana Sales', ascending=False)

In [54]:
monthly_totals['Total Marijuana Sales'] = monthly_totals['Total Marijuana Sales'].apply(lambda x: '${:,.2f}'.format(x))

        Month Total Marijuana Sales
5        July     $1,562,630,918.00
1      August     $1,560,891,237.00
11  September     $1,484,212,820.00
7       March     $1,438,585,345.00
10    October     $1,432,353,742.00
6        June     $1,429,070,966.00
8         May     $1,395,127,943.00
0       April     $1,376,338,096.00
9    November     $1,316,013,312.00
2    December     $1,287,394,338.00
4     January     $1,275,935,878.00
3    February     $1,230,803,017.00

In [57]:
monthly_totals.to_csv('weed.csv', index=False)